@media screen and (min-width: 0px) {
    .container{
      text-align:center;
      padding: 48px;
      margin-top: 48px;
    }

    .title{
        color:#495E57;
    }


}
@media screen and (min-width: 820px) {

}

@media screen and (min-width: 960px) {

}

@media screen and (min-width: 1320px) {

}